@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply h-screen;
}

body {
  @apply bg-gray-800;
}

.react-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.react-modal-content {
  width: 100%;
  max-width: 1000px;
  @apply bg-gray-800;
  padding: 3rem;
  position: relative;
  border-radius: 0.25rem;
}
